{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<div class="ui icon message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">
     Do you have any questions?
    </div>
    <p>If so contact me on my email: contato@luandeveloper.com.br</p>
  </div>
</div>

<div class="ui segment">
  <p>Integer tincidunt mattis arcu, nec sodales neque placerat a. Morbi convallis luctus pellentesque. Donec rhoncus aliquet auctor. Nam bibendum egestas ipsum, non condimentum enim semper eu. Morbi augue tellus, commodo et posuere et, vulputate id lorem. Aenean imperdiet nulla eget luctus volutpat. Quisque porta odio id sapien placerat, eget porttitor nunc tincidunt. Etiam fermentum urna a ante euismod, in volutpat dolor lobortis. Phasellus orci felis, euismod nec diam id, tristique pharetra lorem. Pellentesque consectetur pharetra turpis, ut varius ipsum vestibulum a. Suspendisse sit amet nisi vitae magna varius sodales. In a mi metus. Sed quis arcu quis est dignissim faucibus. Suspendisse consequat purus at purus posuere molestie. Vivamus ultricies lorem condimentum, rutrum massa sit amet, pellentesque lectus.</p>
    <p>Integer tincidunt mattis arcu, nec sodales neque placerat a. Morbi convallis luctus pellentesque. Donec rhoncus aliquet auctor. Nam bibendum egestas ipsum, non condimentum enim semper eu. Morbi augue tellus, commodo et posuere et, vulputate id lorem. Aenean imperdiet nulla eget luctus volutpat. Quisque porta odio id sapien placerat, eget porttitor nunc tincidunt. Etiam fermentum urna a ante euismod, in volutpat dolor lobortis. Phasellus orci felis, euismod nec diam id, tristique pharetra lorem. Pellentesque consectetur pharetra turpis, ut varius ipsum vestibulum a. Suspendisse sit amet nisi vitae magna varius sodales. In a mi metus. Sed quis arcu quis est dignissim faucibus. Suspendisse consequat purus at purus posuere molestie. Vivamus ultricies lorem condimentum, rutrum massa sit amet, pellentesque lectus.</p>
      <p>Integer tincidunt mattis arcu, nec sodales neque placerat a. Morbi convallis luctus pellentesque. Donec rhoncus aliquet auctor. Nam bibendum egestas ipsum, non condimentum enim semper eu. Morbi augue tellus, commodo et posuere et, vulputate id lorem. Aenean imperdiet nulla eget luctus volutpat. Quisque porta odio id sapien placerat, eget porttitor nunc tincidunt. Etiam fermentum urna a ante euismod, in volutpat dolor lobortis. Phasellus orci felis, euismod nec diam id, tristique pharetra lorem. Pellentesque consectetur pharetra turpis, ut varius ipsum vestibulum a. Suspendisse sit amet nisi vitae magna varius sodales. In a mi metus. Sed quis arcu quis est dignissim faucibus. Suspendisse consequat purus at purus posuere molestie. Vivamus ultricies lorem condimentum, rutrum massa sit amet, pellentesque lectus.</p>
      <div class="sixteen wide column" style="text-align: center">
        <button class="massive ui primary button">
          <i class="chart line icon"> </i> My skills
        </button>
      </div>
</div>
{% endblock content %}